<?xml version="1.0"?>
<launch>
  <!-- send robot model to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find velma_head_model)/model/velma_head.urdf.xml'" />
<!--
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find two_lwr_defs)/robots/two_lwr.urdf.xml'" />
-->
  
  <node name="head_controller" pkg="velma_head_controller" type="head_controller">
    <rosparam>
      serial_port: can0
    </rosparam>
  </node>
  <node name="state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  
  <node name="head_action_server" pkg="velma_head_action" type="head_action_server" output="screen" >
    <rosparam>
      success_angle_threshold: 0.1
    </rosparam>
  </node>
</launch>
